<br>
<br>
<div class="row section-bg" style="width: 70%; text-align: center; margin-left: 200px;">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title" style="text-align: center;">Doctors</h1>

                <div class="table-responsive">
                    <table class="table align-middle text-nowrap">
                        <thead>
                            <tr>
                                <th class="text-dark font-medium fs-4">Username</th>
                                <th class="text-dark font-medium fs-4">Specialities</th>
                                <th class="text-dark font-medium fs-4">Status</th>
                                <th class="text-dark font-medium fs-4">Phone</th>
                                <th class="text-dark font-medium fs-4">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let ts of doctors'>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img [src]="ts.prolfileImageUrl" alt="user" width="45" class="rounded-circle">
                                        <div class="ms-3">
                                            <h5 class="mb-0 font-medium">{{ts.username}}</h5>
                                            <span class="mb-0 font-medium">{{ts.firstName}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="mb-0 font-medium">{{ts.specialities}}</td>

                                <td>
                                    <span *ngIf="ts.isVerified==true ;else elseBlock ">Confirmed</span>
                                    <ng-template #elseBlock>In Progress</ng-template>
                                </td>



                                <td>
                                    <h5 class="mb-0 font-medium">{{ts.phone}}</h5>
                                </td>
                                <td>
                                    <!-- Call to action buttons -->
                                    <ul class="list-inline m-0">
                                        <li class="list-inline-item">
                                            <button class="btn btn-primary btn-sm rounded-0" type="button"
                                                data-toggle="tooltip" data-placement="top" title="Add"><i
                                                    class="fa fa-table" (click)="open(content)"></i></button>
                                            <ng-template #content let-c="close" let-d="dismiss">
                                                <div class="modal-header">
                                                    <button type="button" class="btn-close" aria-label="Close"
                                                        (click)="d('Cross click')"></button>
                                                </div>
                                                <div class="container mt-4 mb-4 p-3 ">
                                                    <div class="card p-4">
                                                        <div
                                                            class=" image d-flex flex-column justify-content-center align-items-center">
                                                            <button class="btn btn-secondary"> <img
                                                                    [src]="ts.prolfileImageUrl" height="100"
                                                                    width="100" /></button> <span
                                                                class="name mt-3">{{ts.firstName}}</span> <span
                                                                class="idd">{{ts.lastName}}</span>
                                                            <div
                                                                class="d-flex flex-row justify-content-center align-items-center gap-2">
                                                                <span class="idd1">{{ts.username}}</span> <span><i
                                                                        class="fa fa-copy"></i></span>
                                                            </div>
                                                            <div
                                                                class="d-flex flex-row justify-content-center align-items-center mt-3">
                                                                <span class="number">{{ts.specialities}}</span>
                                                            </div>
                                                            <div class=" d-flex mt-2"> <button
                                                                    class="btn1 btn-dark">Edit Profile</button> </div>
                                                            <div class="text mt-3"> <span>{{ts.bio}} </span> </div>
                                                            <div
                                                                class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                                                                <span><i class="fa fa-twitter"></i></span> <span><i
                                                                        class="fa fa-facebook-f"></i></span> <span><i
                                                                        class="fa fa-instagram"></i></span> <span><i
                                                                        class="fa fa-linkedin"></i></span>
                                                            </div>
                                                            <div class=" px-2 rounded mt-4 date "> <span
                                                                    class="join">Joined May,2021</span> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer" style="text-align: center;">
                                                    <button type="button" class="btn btn-outline-dark"
                                                        (click)="c('Save click')">Approve</button>
                                                    <button type="button" class="btn btn-danger"
                                                        (click)="c('Save click')">Reject</button>
                                                </div>

                                            </ng-template>
                                        </li>
                                        <li class="list-inline-item">
                                            <button class="btn btn-success btn-sm rounded-0" type="button"
                                                data-toggle="tooltip" data-placement="top" title="View"><i
                                                    class="fa fa-edit" (click)="confirm(ts.id)"></i></button>
                                        </li>
                                        <li class="list-inline-item">
                                            <button class="btn btn-danger btn-sm rounded-0" type="button"
                                                data-toggle="tooltip" data-placement="top" title="Delete"
                                                (click)="deletUser(ts.id)"><i class="fa fa-trash"></i></button>
                                        </li>
                                    </ul>
                                    <script>
                                        $(function () {
                                            $('[data-toggle="tooltip"]').tooltip();
                                        });
                                    </script>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>