<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div id="wrapper" class="active">  
    <!-- Sidebar -->
            <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a class="nav-link scrollto " routerLink="/doctor/dashboard" routerLinkActive="active">Main View</a></li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">
          <li><a class="nav-link scrollto " routerLink="/doctor/ai/diabetes" routerLinkActive="active">Diabetes Test</a></li>
           
          <li><a class="nav-link scrollto " routerLink="/doctor/ai/heart" routerLinkActive="active">Heart disease</a></li>
        </ul>
      </div>
          
     
      
</div>