<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="300">
        <div class="member-img">
            <img src="assets/img/doctors/doctors-3.jpg" class="img-fluid" alt="">
            <div class="social">

                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
        <div class="member-info">
            <span class="badge bg-secondary">{{speciality}}</span>

            <h4>{{doctorFirstName}} {{doctorLastName}}</h4>
            
            <span class="">{{biography}}</span>
        </div>
    </div>
</div>