<div class="row section-bg ">
    <div class="col sm-2">
        <app-sidebar></app-sidebar>

    </div>
    <div class="col">
        <div class="container">
            <h1>Statistics and relevant numbers: </h1>
            <h3>Make use of diabetes real time statistics:</h3>
            <br><br> <br>
            <div class="col">
                <img src="../../assets/dash/rapport.jpeg" alt="rapportBI" style="height: 100;width: 150;">
            </div>
            <br><br> <br>
            <div class="col">
                <img src="../../assets/dash/insuline.jpeg" alt="result by insuline" style="height: 100;width: 150;">
            </div>
            <br><br> <br>
            <div class="col">
                <img src="../../assets/dash/outcomebyglucose.jpeg" alt="outcome by glucose percentage"
                    style="height: 100;width: 150;">
            </div>
            <br><br> <br>
            <div class="col">
                <img src="../../assets/dash/tabldiab.jpeg" alt="global view of dataset" style="height: 100;width: 150;">
            </div>
            <br><br> <br>
            <hr>
            <h3>Heart disease real time statistics:</h3>
            <div class="col">
                <img src="../../assets/dash/heart.jpeg" alt="" style="height: 100;width: 150;">
            </div>
            <br><br> <br>
            <div class="col">
                <img src="../../assets/dash/talhach.jpeg" alt="" style="height: 100;width: 150;">
            </div>
            <br><br> <br>
            <div class="col">
                <img src="../../assets/dash/ageheart.jpeg" alt="" style="height: 100;width: 150;">
            </div>
            <br><br> <br>
            <div class="col">
                <img src="../../assets/dash/cholheart.jpeg" alt="" style="height: 100;width: 150;">
            </div>
        </div>

    </div>