<li class="nav-item" ngbDropdown placement="bottom-end">
    <a ngbDropdownToggle class="nav-link waves-effect waves-dark pro-pic" href="javascript:void(0)"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="../assets/img/doctor.png" alt="user" class="rounded-circle" width="31" />
        <span class="ms-2">Steve Jobs</span>
    </a>
    <div class="dropdown-menu-right" ngbDropdownMenu>
        <a class="dropdown-item" routerLink="/profile" routerLinkActive="active"> My Profile</a>
        <a class="dropdown-item" href="javascript:void(0)"> Medical File</a>
        <a class="dropdown-item" href="javascript:void(0)"> My Doctors </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)"> Account Setting</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="/home" (click)="logout()"> Logout</a>
    </div>
</li>